:root{
    --font-size-body-2:15px;
    --line-height-body-2:20px;
    --color-brand-grays-100:#354541;
    --color-brand-grays-25:#c6cccb;
    --color-brand-boost-yellow:#e2f700;
    --color-brand-frontend-grey:#d2dcdc;
    --color-grays-04:#f4f4f4;
    --color-brand-grays-50:#8d9795;
    --color-brand-grays-10:#e1e6e5;
    --color-text-primary:var(--color-brand-grays-100);
    --color-hr:var(--color-brand-grays-25)
}

.wrapper {
    align-items: center;
}

.book__info {
    margin:0;
    padding:0;
    list-style:none;
    font-size:var(--font-size-body-2);
    line-height:var(--line-height-body-2);
    color:var(--color-text-primary)
}

.book__chapter {
    margin-bottom:40px
}

.book__chapter-title {
    padding-bottom:6px;
    border-bottom:1px solid var(--color-hr)
}

.book__chapter-articles {
    margin:0;
    padding:0;
    list-style:none
}

.book__chapter-article {
    display:flex;
    flex-direction:column;
    margin-top:12px;
    margin-bottom:12px
}

.book__article-title-block {
  display:flex
}

.book__article-number {
    padding-right:14px
}

.book__article-title {
    margin-right:25px
}

.book__article-widgets {
    display:flex;
    flex-direction:column;
    flex-wrap:nowrap;
    margin:6px auto 0 0
}

.article-status {
    display:flex;
    flex-shrink:0;
    justify-content:center;
    align-items:center;
    width:124px;
    height:36px;
    font-size:14px;
    font-weight:700;
    line-height:24px;
    border-radius:6px
}
    
.article-status_theme_dark {
    background:var(--color-brand-boost-yellow)
}

.article-status_theme_gray {
    background:var(--color-brand-frontend-grey)
}

.article-status_theme_light {
    background:var(--color-grays-04)
}

.article-status_not-read {
    color:var(--color-brand-grays-50);
    border:2px solid var(--color-brand-grays-10);
    background:0 0
}

.article-status__checkmark {
    margin-right:10px
}

@media (min-width:1280px) {
    .article-status {
        width:140px;
        height:40px
    }
    .article-status__checkmark {
        margin-right:12px
    }
}
