{% macro render_exercise_form(exercise_id, question_text) %}
<form onsubmit="submitAnswer('{{ exercise_id }}'); return false;">
    <div class="form-group">
        <div>{{ question_text }}</div>
        <input type="text" id="user_answer_{{ exercise_id }}" class="modal-form input" name="input">
    </div>
    <div class="form-group">
        <button type="submit">Проверить</button>
    </div>
</form>
<div id="result-{{ exercise_id }}"></div>
{% endmacro %}


{% macro render_answers_list(exercise_id, questions) %}
<form id="exercise-form-{{ exercise_id }}" class="exercise-form" onsubmit="submitForm(this.id); return false;">
    <div class="questions-container">
        {% for _, question in questions.items() %}
        <div class="question-item">
            <label for="answer_{{ loop.index }}">{{ question.question }}</label>
            <input type="text" id="answer_{{ loop.index }}" name="answer_{{ loop.index }}" class="modal-form input">
        </div>
        {% endfor %}
    </div>
    <button type="submit">Проверить</button>
</form>
<div id="result-{{ exercise_id }}"></div>
{% endmacro %}

{% macro render_matching_test_form(exercise_id, correct_answers) %}
<form id="matching-test-{{ exercise_id }}" class="matching-test-form">
    <div class="matching-container">
        {% set answers = correct_answers.values()|map(attribute='answer')|list|shuffle %}
        {% for id, content in correct_answers.items() %}
        <div class="matching-item">
            <div class="left-item" data-id="{{ id }}">{{ content.question }}</div>
            <select class="right-item" name="answer_{{ id }}">
                <option value="" disabled selected>-- Выберите вариант --</option>
                {% for answer in answers %}
                <option value="{{ answer }}">{{ answer }}</option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
    </div>
    <button type="submit" class="matching-test-button">Проверить</button>
    <div id="result-{{ exercise_id }}"></div>
</form>
{% endmacro %}
