{% extends 'base.html' %}

{% block title %}Содержание{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/content.css">
{% endblock %}

{% block content %}
    <div class="wrapper">
        <h1>План курса</h1>
        <ul class=book__info>
            <li class=book__chapter>
                <h2 class="book__chapter-title heading heading_size_m">1. База NLP</h2>
                <ul class=book__chapter-articles>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>1.1.</span>
                            <div class=book__article-title>
                                <a href="/regexp">Регулярные выражения</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                    <li class=book__chapter-article id=book__article_contest_40163>
                        <div class=book__article-title-block>
                            <span class=book__article-number>1.2.</span>
                            <div class=book__article-title>
                                <a href="/preproc">Предобработка текста</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                    <li class=book__chapter-article id=book__article_contest_40163>
                        <div class=book__article-title-block>
                            <span class=book__article-number>1.3.</span>
                            <div class=book__article-title>
                                <a href="/simple_reprs">Простые представления слов</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                    <li class=book__chapter-article id=book__article_contest_40163>
                        <div class=book__article-title-block>
                            <span class=book__article-number>1.4.</span>
                            <div class=book__article-title>
                                <a href="/distr_reprs">Мешок слов, TF-IDF</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class=book__chapter>
                <h2 class="book__chapter-title heading heading_size_m">2. Инструменты для морфологии, синтаксиса, семантики</h2>
                <ul class=book__chapter-articles>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>2.1.</span>
                            <div class=book__article-title>
                                <a href="#sem_models">Word2vec, FastText, GloVe</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>2.2.</span>
                            <div class=book__article-title>
                                <a href="#deps_grammar">Грамматика зависимостей. UDiPipe</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class=book__chapter>
                <h2 class="book__chapter-title heading heading_size_m">3. Модели, нейронные сети</h2>
                <ul class=book__chapter-articles>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>3.1.</span>
                            <div class=book__article-title>
                                <a href="/ml_basics">Основы машинного обучения</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>3.2.</span>
                            <div class=book__article-title>
                                <a href="/lang_model">Языковая модель: н-граммы</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>3.3.</span>
                            <div class=book__article-title>
                                <a href="/naive_bayes">Наивный Байесовский классификатор
                                </a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>3.4.</span>
                            <div class=book__article-title>
                                <a href="/dl_intro">Введение в нейронные сети</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">Не прочитан</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>3.5.</span>
                            <div class=book__article-title>
                                <a href="#rnn">Реккурентные нейронные сети</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>3.6.</span>
                            <div class=book__article-title>
                                <a href="#transformers">Механизмы внимания, трансформеры</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>3.7.</span>
                            <div class=book__article-title>
                                <a href="#pretr_NNs">Устройство существующих нейронных сетей</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                </ul>
            </li>
            <li class=book__chapter>
                <h2 class="book__chapter-title heading heading_size_m">4. Прикладные задачи NLP</h2>
                <ul class=book__chapter-articles>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>4.1.</span>
                            <div class=book__article-title>
                                <a href="#machine_translation">Машинный перевод</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>4.2.</span>
                            <div class=book__article-title>
                                <a href="#qas">Question-answering systems</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>4.3.</span>
                            <div class=book__article-title>
                                <a href="#ner">NER</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>4.4.</span>
                            <div class=book__article-title>
                                <a href="#nlu_nli">NLU, NLI</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                    <li class=book__chapter-article>
                        <div class=book__article-title-block>
                            <span class=book__article-number>4.5.</span>
                            <div class=book__article-title>
                                <a href="#s2t_t2s">Speech2Text, Text2Speech</a>
                            </div>
                        </div>
                        <div class=book__article-widgets>
                            <div class="article-status article-status_not-read">To be updated</div>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
{% endblock %}

{% block scripts %}
    <script src="/static/content.js" defer></script>
{% endblock %}
