{% extends 'base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <style>
        .wrapper {
            align-items: center;
            text-align: center;
        }
        .wrapper p{
            width: 624px;
        }
    </style>
    <div class="wrapper">
        <p>
            Привет!<br><br>Ты зашел на сайт курса для будущих, нынешних и бывших студентов ФИКЛа.<br><br>Здесь ты найдешь нескучную теорию, интерактивные задания и разную литературу,<br>которая полезна для тех, кто хочет еще больше углубиться в пройденные темы!
        </p>
        <a href="/content" class="btn">Перейти к обучению</a>
    </div>
{% endblock %}
