{% extends 'base.html' %}

{% import '_form_macros.html' as form_macros %}

{% block title %}{{ lesson_title }}{% endblock %}

{% block extra_css %}
<style>
    .notebook-content {
        padding: 10px;
        background-color: rgba(238, 238, 238, 0.8);
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    .wrapper p {
        text-align: center;
    }

    ol, ul {
        font-family: var(--jp-ui-font-family);
        font-size: 20px;
        font-weight: 500;
    }

    li {
        padding: 5px;
    }

    .main-section p {
        margin-bottom: 0px;
    }

    .hidden-solution {
        display: none;
    }

    button {
        font-size: 20px;
        border-radius: 8px;
        background: var(--blue-color);
        padding: 9px 22px;
        color: var(--light-color);
        display: inline-block;
        border-color: transparent;
        margin: 5px;
    }

    .button-clicked {
        background: var(--light-color); /* Цвет текста становится цветом фона */
        color: var(--blue-color); /* Цвет фона становится цветом текста */
    }

    span.highlight {
        margin: 0;
    }

    span.highlight {
            color: var(--jp-content-link-color);
            cursor: pointer;       /* Курсор в виде указателя */
            margin: 0;
            background: none;
        }

    span.highlight:hover {
        color: darkblue;       /* Темно-зеленый цвет текста при наведении */
        text-decoration: none; /* Убираем подчеркивание при наведении */
    }

    a:link {
        text-decoration: none !important;
    }

    a:hover {
        text-decoration: none !important;
    }
    
    a:visited {
        text-decoration: none !important;
    }

    .notebook-content img {
        max-width: 70% !important;
    }

    input[name="input"] {
        margin-left: 5px;
    }

    .modal-form {
        padding-bottom: 0px !important;
    }
</style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        {% include lesson_content %}
        <!-- !!! Вначале после тега body вставить <div class="notebook-content"></div> -->
        <!-- Все формулы обернуть в {% raw %}{% endraw %} -->
        <p>Найти тетрадку c заданиями на написание кода можно по <a href="{{ notebook_link }}" style="text-decoration: underline !important;">ссылке</a></p>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function toggleSolution(button) {
            var solution = button.nextElementSibling;
            if (solution.style.display === "none") {
                solution.style.display = "block";
                button.textContent = "Скрыть решение";
                button.classList.add('button-clicked'); // Добавить класс для измененного стиля
            } else {
                solution.style.display = "none";
                button.textContent = "Решение";
                button.classList.remove('button-clicked'); // Удалить класс, возвращая исходный стиль
            }
        }
    </script>    
{% endblock %}
