{% extends 'base.html' %}

{% block title %}Термины{% endblock %}

{% block extra_css %}
<style>
    .notebook-content { 
        padding: 10px;
        background-color: rgba(238, 238, 238, 0.8);
        margin: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    p {
        margin-top: 16px !important;
        margin-bottom: 0px;
    }

    .term-anchor {
        padding-top: 50px; /* Высота вашего фиксированного заголовка */
        margin-top: -50px;
        display: block; /* Для того чтобы padding и margin работали */
    }
</style>
{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="notebook-content">
            <h1>Словарь важных терминов</h1>
            {% for term, definition in terms.items() %}
                <div id="{{ term|replace(' ', '_')|lower|url_encode }}" class="term-anchor">
                    <p><strong>{{ term }}</strong> — {{ definition }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
