.wrapper {
    align-items: center;
    text-align: center;
}

.team-wrapper {
    width: 60%;
    margin: 20px;
}

.team-member {
    padding: 10px;
    background-color: rgba(238, 238, 238, 0.8);
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.team-member img.team-member-image {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-bottom: 10px; /* Отступ между изображением и текстом */
}

.team-member-title {
    font-size: 24px;
    margin: 0; /* Убирает стандартные отступы у параграфа */
}

.team-member p {
    font-size: 20px;
    margin: 0;
}
